.tabs-header.adm-detail-tabs-block {
    display: flex;
    padding-right: 0;
}

.tabs-content {
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
}
    .tabs-content .tab {
        display: none;
    }
        .tabs-content .tab.active {
            display: block;
        }
    .tabs-content::after {
        content: '';
        background: #c4ced2;
        bottom: 0;
        height: 1px;
        position: absolute;
        width: 100%;
    }